--- 
  components: 
    schemas: 
      OnStreetParking: 
        $ref: "https://smart-data-models.github.io/dataModel.Parking/OnStreetParking/model.yaml#/OnStreetParking"
  info: 
    description: |
      A site, open space zone, on street, (metered or not) with direct access from a road,
      intended to park vehicles. In DATEX 2 version 2.3 terminology it
      corresponds to a UrbanParkingSite of type onStreetParking.
    title: OnStreetParking
    version: "1.0.0"
  openapi: "3.0.0"
  
  # These paths are merely representative.
  paths: 
    /ngsi-ld/v1/entities: 
      get: 
        description: "Retrieve a set of entities which matches a specific query from an NGSI-LD system"
        parameters: 
          - 
            in: query
            name: type
            required: true
            schema: 
              enum: 
                - OnStreetParking
              type: string
        responses: 
          ? "200"
          : 
            content: 
              application/ld+json: 
                examples: 
                  keyvalues: 
                    summary: "Key-Values Pairs"
                    value: 
                      - 
                        $ref: "https://smart-data-models.github.io/dataModel.Parking/OnStreetParking/examples/example-normalized.json"
                  normalized: 
                    summary: "Normalized NGSI-LD"
                    value: 
                      - 
                        $ref: "https://smart-data-models.github.io/dataModel.Parking/OnStreetParking/examples/example-normalized.jsonld"
            description: OK
        tags: 
          - ngsi-ld
  tags: 
    - 
    
      description: "NGSI-LD Linked-data Format"
      name: ngsi-ld
